bokeh>=1.0.2
bs4>=0.0.1
cufflinks>=0.14.4
Faker>=1.0.1
finance-enums>=0.1.0
future>=0.17.1
ipysheet>=0.2.0
ipywidgets>=7.4.2
jupyterlab>=0.35.4
lineup-widget>=1.0.7
matplotlib>=3.0.2
mimesis>=3.0.0
numpy>=1.15.4
pandas>=0.23.4
perspective-python>=0.1.2
plotly>=3.4.2
qgrid>=1.1.1
scipy>=1.2.0
seaborn>=0.9.0
sidecar>=0.2.0
six>=1.12.0
sklearn>=0.0
ujson>=1.35
websocket-client>=0.54.0
