bokeh
bs4
cufflinks>=0.14.4
faker
finance_enums
future
ipysheet
ipywidgets
jupyterlab
lineup_widget
matplotlib
mimesis
numpy
pandas
perspective-python>=0.1.1
plotly>=3.0.0
qgrid
seaborn
scipy
sidecar
six
sklearn
websocket-client
ujson
